form {
  max-width: 390px;
  object-fit: cover;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 360px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h3 {
  margin-top: 20px;
}

/* button {
  padding: 10px 20px;
  background-color: #91bceb; */
/* background-color: white; */
/* color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
} */

button:hover {
  background-color: #6b97c7;
}
.main-title {
  height: 118px;
  border: 1px solid #ccc;
}
.question-ans-container {
  height: auto;
  border: 1px solid #ccc;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
